body {
  background-color: #161748;
  color: whitesmoke;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 3.5rem;
}
button , a {
  cursor: pointer;
}
a:hover {
  color: aliceblue;
}

.container {
  max-width: 1100px;
  margin-top: 20px;
  gap: 5px;
}
#newTask,
#priority {
  border-radius: 5px;
}

.table {
  margin-top: 20px;
}
.table tr th {
  text-align: center;
}
.table tr td {
  text-align: center;
}
.taskDone {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: black; 
}


